<button mat-raised-button color="primary" (click)="openTravelForm()">
  ➕ Ajouter un voyage
</button><br><br>

@if (loading()){
  <div>
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>

}
@if (error()){
  <div>
    <div class="error">{{ error() }}</div>
  </div>
}
@if(!travels() || travels().length === 0){
  <div>
    <p class="no-travel">Aucun voyage prévu</p>
  </div>
}
<div class="travel-list">
  @for (travel of travels(); track travel.id) {
    <mat-card class="travel-card">
      <mat-card-header>
        <mat-card-title>{{ travel.title }}</mat-card-title>
        <mat-card-subtitle>{{ travel.destination }}</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <p class="dates">
          📅 {{ travel.startDate | date }} → {{ travel.endDate | date }}
        </p>
      </mat-card-content>

      <mat-card-actions>
        <button mat-flat-button color="primary" [routerLink]="['/travels', travel.id]">
          Voir +
        </button>

        <span class="actions-spacer"></span>

        <button mat-stroked-button color="primary" (click)="openTravelForm(travel)">
          Modifier
        </button>
        <button mat-stroked-button color="warn" (click)="confirmDelete(travel.id)">
          Supprimer
        </button>
      </mat-card-actions>
    </mat-card>
  }
</div>
